:root {
    --primaryColor:#b67d48;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: monospace;
}

.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
}

.navbar-black {
    background: #2a2a2a;
}

.navbar-center {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.logo {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}

.logo .fa-tshirt {
    color: rgb(192, 77, 77);
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    padding: 0 5px;
    border-radius: 30%;
    top: -8px;
    right: -8px;
    background-color: var(--primaryColor);
    color: var(--mainWhite);
}

.hero {
    min-height: calc(100vh - 60px);
    background: url(./images/tshirts.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .differ {
    background: url(./images/clothing-store.jpg) center/cover no-repeat;
}

.hero .fa-chevron-right {
    color: var(--mainWhite);
    font-size: 1rem;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.hero .fa-chevron-left {
    color: var(--mainWhite);
    font-size: 1rem;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}

.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-title span {
    font-size: 1rem;
}

.banner-btn {
    padding: 1rem 3rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    color: var(--mainBlack);
    text-decoration: none;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}

.products {
    padding: 4rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.search-bar {
    width: 50%;
    border: 1px solid var(--primaryColor);
    padding: 10px;
}

.search-btn {
    background: var(--primaryColor);
    border: none;
    padding: 11px;
    margin-left: 10px;
    color: var(--mainWhite);
    cursor: pointer;
}

.search-btn:hover {
    background: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    transition: var(--mainTransition);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
    border-radius: 50%;
}

.bag-btn:hover {
    color: var(--mainWhite);
}

.star-btn {
    position: absolute;
    top: 0;
    left: 40px;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    cursor: pointer;
    border-radius: 50%;
}

.star-btn:hover {
    color: var(--mainWhite);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}

.product h3{
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
}

.product h4{
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
}

.nav-icon .fa-bars {
    display: none;
}

@media screen and (max-width: 760px) {
    .nav-icon .fa-bars {
        display: block;
    }
}